.slideshow-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.current-img-container {
    position: relative;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px black;
}

.current-img {
    width: 100%;
    border-radius: 20px;
    transition: 200ms;
}

.fadein {
    opacity: 0;
    animation: 500ms ease 200ms 1 forwards fadein;
}

.fadeout {
    opacity: 1;
    animation: 500ms ease 0s 1 forwards fadeout;
}

.caption, .img-date {
    width: 100%;
    margin: 15px 0 0 0;
    text-align: center;
    transition: 200ms;
}

/* backward and forward buttons */

.arrow {
    position: absolute;
    font-size: 48px;
    padding: 0px 5px 5px 5px;
    top: 40%;
    color: rgb(200,200,200);
    background-color: rgb(20,20,20);
    border-radius: 10px;
    z-index: 10;
    transition: 200ms;
}

.arrow:hover {
    color: rgb(240,240,240);
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.arrow--backward {
    left: 40px;
}

.arrow--forward {
    right: 40px;
}

/* img animations */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}